out/server/som-core-lib/Examples
out/server/som-core-lib/SomSom
out/server/som-core-lib/specification
out/server/som-core-lib/TestSuite
out/server/somns-core-lib/Benchmarks
out/server/somns-core-lib/demos
out/server/somns-core-lib/TestSuite
.vscode/**
.vscode-test/**
typings/**
out/test/**
test/**
server/**
src/**
**/*.map
.gitignore
.gitmodules
.travis.yml
notes.md
test.som
tsconfig.json
vsc-extension-quickstart.md
TODO.md
*.sh
