<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Redline-Smalltalk</string>
	<key>ordering</key>
	<array>
		<string>5A1A0593-A1B9-4DE5-9EDC-6C14D22BEA84</string>
		<string>5C6539F8-9722-4679-B0FF-169905619CB0</string>
	</array>
	<key>uuid</key>
	<string>25772E62-040D-4F90-AB61-5F6CAEDABAEC</string>
</dict>
</plist>
